.div01 {
    width: 218px;
    height: 218px;
    background-color: #FE0303;
    float: left;
}


.div02 {
    width: 218px;
    height: 218px;
    background-color: #0500FF;
    float: right;
}